@font-face{
	font-family: 'Stag-Book';
	src:url('fontes/Stag-Book.otf');
}

@font-face{
	font-family: 'Stag-Medium';
	src:url('fontes/Stag-Medium.otf');
	font-weight: 400;
}

@font-face{
    font-family: 'OpenSans-Regular';
    src: url('fontes/OpenSans-Regular.ttf');
}

*{
	margin: 0;
}

#caixa_slideshow{
	width: 865px;
	margin: 0 auto;
}

.texto_citi{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	direction: ltr;
	padding-top: 50px;
	width: 850px;
	text-align: justify;
	margin: 0 auto;
	color: #575454;
}

.texto_citi2{
	width: 850px;
}

.texto_citi4{
	text-align: justify;
	font-family: 'OpenSans-Regular';
	font-size: 10px;
	direction: ltr;
	color: #575454;
	margin-top: 10px;
}

.partner{
	background-size: 100%;
	background-image: url('imagens/bg3.png');
	margin: 0 auto;
}

#partnermacro{

	padding-top: 130px;
	width: 950px;
	margin: 0 auto;
}

.txtpartner{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
}

.partnertexto{

	width: 840px;
	margin-left: 35px;
	font-size: 16;
	color: rgb(87,83,83);
	text-align: justify;

}

#partnerimagem{

	padding-top: 50px;
	text-align: center;


}

#textopartner2{

	padding-top: 50px;
	padding-bottom: 40px;

}

.parceiros{

	background-image: url('imagens/bg5.png');
	margin: 0 auto;

}

.parceirosej{

	background-image: url('imagens/bg4.png');
	margin: 0 auto;

}

.parcg{

	width: 950px;
	margin: 0 auto;
	padding-top: 130px;

}

.parcp{

	width: 950px;
	margin: 0 auto;
	padding-top: 30px;
}

.parceiro{
	width: 400px;
	background-color: rgb(255,255,255);
	display: inline-block;
	margin-left: 37.5px;
	vertical-align: top;
}

.logo{

	text-align: center;

}

#logobrasil{
	margin-top: 20px;
	margin-bottom: 20px;

}

#logofej{
	margin-top: 55px;
	margin-bottom: 50px;
}

#logoace{

	margin-top: 38px;
	margin-bottom: 20px;

}

#logofcap{

	margin-top: 51px;
	margin-bottom: 35px;

}

#logoethos{

	margin-top: 40px;
	margin-bottom: 40px;

}

#logoplan{

	margin-top: 20px;
	margin-bottom: 20px;

}

#logocin{

	margin-top: 30px;
	margin-bottom: 30px;

}

#logoufpe{

	margin-top: 60px;
	margin-bottom: 48px;

}

#logopd{

	padding-top: 21px;
	padding-bottom: 21px;

}

#logomic{

	padding-top: 28px;
	padding-bottom: 28px;

}

#logobb{

	padding-top: 50px;
	padding-bottom: 50px;

}

#logopmi{

	padding-top: 35px;
	padding-bottom: 35px;

}

#logoludo{

	padding-top: 56px;
	padding-bottom: 36px;

}

#ultimo{

	padding-bottom: 40px;
}

#linha{

	height: 3px;
	background-color: #75BD29;

}

.parc{

	font-family: 'OpenSans-Regular';
	direction: ltr;
	font-size: 15px;
	color: rgb(87,83,83);
	width: 370px;
	padding-left: 15px;
	text-align: justify;
	padding-bottom: 32px;

}

#parcbrasil{
	height: 350px;
}
#parfej{
	height: 350px;
}

#parcace,#parcfcap{
	height: 320px;
}



#sitesesistemas{
	background-image: url('imagens/bg2.png');
	background-repeat: repeat;
	margin:auto;
	padding-top: 130px;

}

#sitesesistemasmacro{
	width: 840px;
	margin: 0 auto;
	padding-bottom: 40px;
}

.h3ss{

	font-family: "Stag-Book";
	font-size: 25px;
	color: #73B72C;
	float: left;
	width: 830px;
	margin-bottom: 10px;
	margin-top: -10px;


}

.imgportfolio{

	float: left;
	display: inline-block;
	width: 100px;
	padding-right: 20px;
	vertical-align: bottom;

}

.pss{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	color: #FFFFFF;
	width: 738px;
	float: left;
	margin: auto;
	padding-left: 0px;
	text-align: justify;

}

.textoSS{
	margin-top: 45px;
	display: inline-block;
	padding-left: 27px;
	width: 950px;
	vertical-align: text-bottom;
}

.passadores{
	width: 900px;
	position: absolute;
}


#ssmacroslide{
	border: 2px solid #75BD29;
	width: 860px;
	height: 454px;
	margin: 60 auto;
	margin-bottom: 10px;
}

#imgpager{
	z-index: 2000;
	width: 860px;
	height: 100px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

#imgpager img{
	border: 2px solid #75BD29;
	margin-top: 15px;
	cursor: pointer;
	margin-right: 2px;
	margin-left: 2px;
}
#prev{
	margin-left: 3px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 320px;
	z-index: 300;
}
#prev img{ 
	border:0px;
}

#next {
	margin-right: 2px;
	cursor: pointer;
	bottom: 270px;
    position:relative;
    float: right;
    z-index: 100;
}
#next img{
	border:0px;
}

.conteudo-home{
	background-image: url('imagens/bg1.png');
	position: relative;
	margin-top: 100px;
}

.conteudo2-home{
	overflow: auto;
	width: 840px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 50px;

}
.conteudo-home2  {
	float: left;

}

.conteudo2-home li{
	list-style: none;
	text-align: center;
}
.conteudo_home3{
	width: 860px;
	margin: 0 auto
}
.texto_citi3{
	text-align: justify;
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	direction: ltr;
	color: #575454;
}

.borda{
	margin-top: 50px;
	float: left;
}

.missao{
	float: left;
	width: 193.5px;
	padding-right: 10px;
}


.visao{
	float: left;
	width: 193.5px;
	padding-left: 10px;
	padding-right: 10px;
}

.negocios{
	float: left;
	width: 193.5px;
	padding-left: 10px;
	padding-right: 10px;
}

.valores{
	margin-bottom: 35px;
	float: left;
	width: 193.5px;
	padding-left: 10px;
}

.titulo-missao{
	font-family: 'Stag-Medium';
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
	color: #575454;
}

.texto-missao{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	direction: ltr;
	margin-top: 15px;
	color: #575252;
}

.texto-missao2{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	direction: ltr;
	color: #575252;
}

.texto-missao3{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	direction: ltr;
	color: #828282;
}

.foto img{
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	padding-bottom: 40px;
}

.fbBottom{
	width: 860px;
	margin: 0 auto;
}


/*------ MENU ------*/

.topMenu{
	margin-top: 0;
	position: fixed;
	height: 110px;
	width: 100%;
	z-index: 10000;
	background: null;
}
/*#FFFFFF #324040 #DDDDDD #313131 #DDDEDE #F3F3F3*/
.menu1{
	/*background-color: rgba(255,255,255,1);*/
	background: url(imagens/menu1.png);
}
.menu2{
	background: url(imagens/menu2.png);
}
.menu3{
	/*background-color: rgba(221,221,221,1);*/
	background: url(imagens/menu3.png);
}
.menu4{
	background: url(imagens/menu4.png);
}
.menu5{
	background: url(imagens/menu5.png);
}
.menu6{
	background: url(imagens/menu6.png);
}
.menuBox{
	
	width: 860px;
	margin:0 auto;
}

#logoCITi{
	margin-top: 20px;
	width: 369px;
	height: 77px;
}
.logoescura{
	background: url('imagens/menuescuro.png')no-repeat;
}
.logoclara{
	background: url('imagens/menuclaro.png')no-repeat;
}

.topMenu ul{
	margin-top: -50px;
	margin-left: 390px;
	position: absolute;
	width: 500px;
	list-style: none;
}
.topMenu ul li{
	float: left;
	font-family: 'Stag light';
	font-size: 15px;
	color: green;
	padding: 2 7px;
	display: block;
	text-decoration: none;
	cursor: pointer;
}



#quemmenu{
	width: 94px;
	height: 21px;
	background: url(imagens/menusprite.png) -26px 19px;
	
}
/*#quemmenu:hover{
	background: url(imagens/menusprite.png) -27px 20px;
}*/
#servmenu{
	width: 58px;
	height: 21px;
	background: url(imagens/menusprite.png) -137px 18px;
}
/*#servmenu:hover{
	background: url(imagens/menusprite.png) -138px 41px;
}*/
#partnermenu{
	width: 51px;
	height: 21px;
	background: url(imagens/menusprite.png) -219px 19px;
}
/*#partnermenu:hover{
	background: url(imagens/menusprite.png) -219px 41px;
}*/
#mejmenu{
	width: 26px;
	height: 21px;
	background: url(imagens/menusprite.png) -293px 18px;
}
/*#mejmenu:hover{
	background: url(imagens/menusprite.png) -293px 41px;
}*/
#parcmenu{
	width: 65px;
	height: 21px;
	background: url(imagens/menusprite.png) -338px 18px;
	
}
/*#parcmenu:hover{
	background: url(imagens/menusprite.png) -338px 41px;
}*/
#contatomenu{
	width: 65px;
	height: 21px;
	background: url(imagens/menusprite.png) -421px 17px;
}

.fixarMenu{
	position: fixed;
	top: 0;
}

.removeFixed{
	position: relative;
}

.fbLike{
	float: right;
	z-index: 1000000;
	margin-top: -90px;
}

/*------ FORM ------*/

#rodape{
	background: url('imagens/bg6.png');
}

#conteudo{
	font-family: 'Stag-Medium';
	margin: 0 auto;
	padding-top: 130px;
	width: 840px;
}
#contato{
	float: left;
	width: 402px;

}
#contato input{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	width: 400px;
	height: 25px;
	display: block;
	margin: 5 0px;
	margin-bottom: 15px;
	border: 1px solid #999;
	padding-left: 5px;
	webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	webkit-transition-duration: 0.5s, 0.5s;
	transition-duration: 0.5s, 0.5s;
}
#contato textarea{
	font-family: 'OpenSans-Regular';
	padding: 0;
	resize:none;
	font-size: 15px;
	width: 400px;
	height: 153px;
	display: block;
	margin: 5 0px;
	border: 1px solid #999;
	padding-left: 5px;
	webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	webkit-transition-duration: 0.5s, 0.5s;
	transition-duration: 0.5s, 0.5s;
	
}
#conteudo input:focus,textarea:focus{
	outline: none !important;
	border: 1px solid #75BD29;
	webkit-box-shadow: 0px 0px 8px #75BD29;
	box-shadow: 0px 0px 8px #75BD29;
}
#conteudo input:hover,textarea:hover{
	outline: none;
	border: 1px solid #75BD29;
}

#contato legend{
	font-family: 'Stag-Book';
	margin-bottom: 20px;
	color: #575454;
	font-size: 20px;

}

#contato button{
	font-family: 'Stag-Book';
	background-color: #828282;
	border: none;
	font-size: 20px;
	color: #DEDEDE;
	width: 85px;
	height: 26px;
	margin-left: 315px;
}

#contato button:hover{
	background-color:#75BD29;
	color: white;
	border: none;
}


#newsletter{
	float: right;
	width: 400px;
}
#newsletter input{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	width: 400px;
	height: 25px;
	display: block;
	margin-bottom: 15px;
	border: 1px solid #999;
	padding-left: 5px;
	webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	webkit-transition-duration: 0.5s, 0.5s;
    transition-duration: 0.5s, 0.5s;

}

#newsletter textarea{
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	width: 400px;
	height: 153px;
	display: block;
	margin: 5 0px;
}
#newsletter legend{
	font-family: 'Stag-Book';
	margin-bottom: 20px;
	color: #575454;
	font-size: 20px;

}

#newsletter button{
	background-color: #828282;
	border: none;
	font-size: 20px;
	font-family: 'Stag-Book';
	color: #DEDEDE;
	margin: 5 0px;
	width: 85px;
	height: 26px;
	margin-left: 315px;
}

#newsletter button:hover{
	background-color:#75BD29;
	color: white;
	border: none;
}

#clear{
	clear: both;
}

#mapa{
	margin: 0 auto;
	padding-top:30px;
	width: 840px;
	height: 419px;
}
#mapa iframe{
	border: 2px solid #75BD29;
}
#baixo{
	margin: 0 auto;
	padding-bottom: 60px;
}

/*Parte que fica em baixo do mapa, as fontes estão trocadas*/
.nomecima{
	font-family:'Stag-Book';
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #575454;
	text-align: center;
}
.nomebaixo{
	font-family: 'OpenSans-Regular';
	color: #575454;
	font-size: 18px;
	text-align: center;
}

#alertanome,#alertaemail{
	overflow: hidden;
	font-family: 'OpenSans-Regular';
	color: #FF6666;
}

#alerta1,#alerta2,#alerta3{
	font-family: 'OpenSans-Regular';
	color: #FF6666;
	
}
.sucessoCont{
	font-family: 'OpenSans-Regular';
	position: absolute;
	color: #75BD29;
	margin-top: -33px;
}

.sucessoNewsl{
	font-family: 'OpenSans-Regular';
	position: absolute;
	color: #75BD29;
	margin-left: 440px;
	margin-top: -33px;
}

.loading{
	margin-left: 270px;
	margin-top: -34px;
	position: absolute;
	width: 40px;
	height: 40px;
	background: url("imagens/formloader.gif") no-repeat;
}
.loadingpointer{
	cursor: wait;
}

