{% extends 'base_fcap.html' %}
{% load static %}
{% block content %}

<main id="content">
  <header class="page-header bigHeader parallaxSection image-2" data-stellar-background-ratio="0.5" data-nekoanim="fadeIn" data-nekodelay="400">
      <div class="maskParent">
          <div class="bgMask"> </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center pb40">
                      <img src="{% static 'images/main-logo.png' %}" class="img-responsive" alt="FCAP-Jr Consultoria">
                   </div>
              </div>
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="box"> 
                        <a href="#portfolio" class="btn btn-lg">Portfólio</a> &nbsp; 
                        <a href="#contato" class="btn btn-lg btn-border">Entre em Contato</a> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- quem somos -->
  <section class="pt40 pb40">
      <div class="container">
          <div class="row">
              <div id="quemSomos" class="col-md-12 text-center mb40">
                  <h1>Quem somos?</h1>
                  <h2 class="subTitle">Descrição</h2>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="100">
                      <a href="#">
                        <div class="imgBorder"> <img class="img-circle img-responsive" src="{{ view.mission.image.url }}" alt="" /> </div>
                        <h2>{{ view.mission.title }}</h2>
                        <p> {{ view.mission.description }}</p>
                      </a>
                  </article>
              </div>
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="200">
                      <a href="#">
                        <div class="imgBorder"> <img class="img-circle img-responsive" src="{{ view.vision.image.url }}" alt="" /> </div>
                        <h2>{{ view.vision.title }}</h2>
                        <p> {{ view.vision.description }}</p>
                      </a>
                  </article>
              </div>
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                      <a href="#">
                        <div class="imgBorder"> 
                          <img class="img-circle img-responsive" src="{{ view.values.image.url }}" alt="" /> 
                        </div>
                        <h2>{{ view.values.title }}</h2>
                        {% for value in view.values.valuesDescription.all %}
                          <p> {{ value.description }}</p>
                        {% endfor %}
                      </a>
                  </article>
              </div>
          </div>
      </div>
  </section>
  <!-- / quem somos -->

  <!-- equipe -->
  <section class="pt40 pb40">
      <div class="container">
          <div class="row">
              <div id="equipe" class="col-md-12 text-center mb40">
                  <h1>Nossa equipe</h1>
                  <h2 class="subTitle">Descrição</h2>
              </div>
          </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb40">
            <div class="box"> 
              <a href="#" class="btn btn-lg">Área 1</a> &nbsp; 
              <a href="#" class="btn btn-lg">Área 2</a> &nbsp; 
              <a href="#" class="btn btn-lg">Área 3</a> &nbsp; 
              <a href="#" class="btn btn-lg">Área 4</a> &nbsp; 
              <a href="#" class="btn btn-lg">Área 5</a> 
            </div>
          </div>
        </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-md-2 col-sm-4">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="100">
                      <a href="#">
                        <div class="imgBorder"> <img class="img-circle img-responsive" src="{{ view.mission.image.url }}" alt="" /> </div>
                      </a>
                  </article>
              </div>
              <div class="col-md-2 col-sm-4">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="100">
                      <a href="#">
                        <div class="imgBorder"> <img class="img-circle img-responsive" src="{{ view.mission.image.url }}" alt="" /> </div>
                      </a>
                  </article>
              </div>
              <div class="col-md-2 col-sm-4">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="200">
                      <a href="#">
                        <div class="imgBorder"> <img class="img-circle img-responsive" src="{{ view.vision.image.url }}" alt="" /> </div>
                      </a>
                  </article>
              </div>
              <div class="col-md-2 col-sm-4">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                      <a href="#">
                        <div class="imgBorder"> 
                          <img class="img-circle img-responsive" src="{{ view.values.image.url }}" alt="" /> 
                        </div>
                      </a>
                  </article>
              </div>
              <div class="col-md-2 col-sm-4">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                      <a href="#">
                        <div class="imgBorder"> 
                          <img class="img-circle img-responsive" src="{{ view.values.image.url }}" alt="" /> 
                        </div>
                      </a>
                  </article>
              </div>
              <div class="col-md-2 col-sm-4">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                      <a href="#">
                        <div class="imgBorder"> 
                          <img class="img-circle img-responsive" src="{{ view.values.image.url }}" alt="" /> 
                        </div>
                      </a>
                  </article>
              </div>
          </div>
      </div>
  </section>
  <!-- / equipe -->

  <!-- eventos -->
  <section id="team" class="pt40 color1" data-nekoanim="fadeInUp" data-nekodelay="400">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>Nossos Eventos</h1>
                  <h2 class="subTitle">Aqui ficam os eventos ou serviços em destaque!</h2>
              </div>
          </div>
      </div>
      {% for obj in view.banners %}
      <div id="homePortfolio" class="imgHover clearfix portfolioMosaic mosaic5 mosaicMoreLink neko-hover-1">
        <article>
            <figure class="minimalBox"> <img alt="" src="{{obj.image.url}}" class="img-responsive">
                <figcaption>

                    <div class="pinInfo">
                        <h3>{{ obj.title }}</h3>
                        <p class="hidden-xs">  {{obj.description}} </p>
                    </div>

                    <!-- <div class="iconLinks"> 
                      <a href="portfolio-project-fullwidth-image.html" title="link">
                        <i class="icon-picture"></i>
                      </a>
                      <a href="{% static 'images/portfolio/zoom6.jpg' %}" class="image-link" title="Zoom">
                        <i class="icon-search"></i>
                      </a>
                    </div> -->

                </figcaption>
            </figure>
        </article>
      {% endfor %}
      </div>
  </section>
  <!-- / eventos -->
  <!-- serviços -->
  <section id="evento" class="pt40 pb40">
      <div class="container">
          <div class="row">
              <div class="col-md-6" data-nekoanim="fadeIn" data-nekodelay="100">
                  <h2>Nossas Habilidades</h2>
                  <h4>Relacionamentos internos</h4>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"> <span>50%</span> </div>
                  </div>
                  <h4>Consultoria de processos</h4>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span>80%</span> </div>
                  </div>
                  <h4>Gestão administrativa</h4>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span>100%</span> </div>
                  </div>
              </div>
              <div class="col-md-6" data-nekoanim="fadeIn" data-nekodelay="300">
                  <h2>Nossos serviços</h2>
                  <ul class="nav nav-tabs" id="myTab">
                      <li class="active"><a href="#homeTab" data-toggle="tab">Serviço 1</a></li>
                      <li><a href="#profile" data-toggle="tab">Serviço 2</a></li>
                      <li><a href="#messages" data-toggle="tab">Serviço 3</a></li>
                      <li><a href="#settings" data-toggle="tab">Serviço 4</a></li>
                  </ul>
                  <div class="tab-content">
                      <!-- tab 1 -->
                      <div class="tab-pane fade active in" id="homeTab">
                          <div class="row">
                              <div class="col-md-12">
                                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
                                  <p> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                              </div>
                          </div>
                      </div>
                      <!-- tab 2 -->
                      <div class="tab-pane fade" id="profile">
                          <div class="row">
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign2.jpg' %}" class="img-responsive imgBorder"> </div>
                              <div class="col-md-8">
                                  <h3>Cillum dolore eu fugiat nulla pariatur</h3>
                                  <p> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>
                      </div>
                      <!-- tab 3 -->
                      <div class="tab-pane fade" id="messages">
                          <div class="row">
                              <div class="col-md-6">
                                  <ul class="list-unstyled iconList">
                                      <li>Build with Bootstrap 3</li>
                                      <li>Mobile first design</li>
                                      <li>10 colors schemes</li>
                                  </ul>
                              </div>
                              <div class="col-md-6">
                                  <ul class="list-unstyled iconList">
                                      <li>descricao breve</li>
                                      <li>Smart Neko CSS and JS components</li>
                                      <li>Fully responsive</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- tab 4 -->
                      <div class="tab-pane" id="settings">
                          <div class="row">
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign4.jpg' %}" class="img-responsive imgBorder" /> </div>
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign7.jpg' %}" class="img-responsive imgBorder" /> </div>
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign8.jpg' %}" class="img-responsive imgBorder" /> </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- / serviços -->
  <!-- parallax -->
  <section id="servi" class="parallaxSection image-2" data-stellar-background-ratio="0.5">
      <div class="maskParent">
        <div class="bgMask"> </div>
        <div class="paralaxText" data-nekoanim="fadeInUp" data-nekodelay="400">
            <h2>
                Encontre aqui a melhoria que
                <br/>faltava para sua empresa.
            </h2>
        </div>
    </div>
  </section>
  <!-- / parallax -->
  <!-- contact -->
  <section id="contato" class="mt40 mb40" data-nekoanim="fadeInUp" data-nekodelay="400">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>Entre em Contato</h1>
                  <h2 class="subTitle">Fale um pouco sobre o problema da sua empresa</h2>
              </div>
          </div>
          <div class="row pb40">
              <div class="col-sm-4">
                  <h4>Endereço:</h4>
                  <address>
                      <p>
                          <i class="icon-location"></i>&nbsp;Rua nº
                          <br> Sport Club, Madalena - BR
                          <br> <i class="icon-phone"></i>&nbsp;446.125.5892
                          <br> <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@theme.com">fcap@gmail.com</a>
                      </p>
                  </address>
              </div>
              <form method="POST" action="send-email/" id="contactfrm" role="form" novalidate="novalidate">
                {% csrf_token %}
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="name">Nome</label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Digite seu nome" title="Please enter your name (at least 2 characters)">
                      </div>
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email" title="Please enter a valid email address">
                      </div>
                      <div class="form-group">
                          <label for="phone">Motivo do contato</label>
                          <select class="form-control" name="motivo">
                            <option value="">Selecione</option>
                            <option value="bench">Benchmarking</option>
                            <option value="outros">Outros</option>
                          </select>
                       </div>
                  </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="comments">Mensagem</label>
                              <textarea name="mensagem" class="form-control" id="comments" cols="3" rows="5" placeholder="Escreva a sua mensagem…" title="Please enter your message (at least 10 characters)"></textarea>
                          </div>
                      </div>
                      <div class="col-md-8 col-md-offset-4">
                          <div class="result"></div>
                          <button name="submit" type="submit" class="btn btn-lg" id="submit"> Enviar</button>
                      </div>
              </form>
              </div>
          </div>
      </section>
      <!-- / contact -->
  </main>
{% endblock content%}