{% extends 'base_fcap.html' %}
{% load static %}
{% block content %}
<main id="content">
  <header class="page-header bigHeader parallaxSection image-2" data-stellar-background-ratio="0.5" data-nekoanim="fadeIn" data-nekodelay="400">
      <div class="maskParent">
          <div class="bgMask"> </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center pb40"> <img src="{% static 'images/main-logo.png' %}" class="img-responsive" alt="FCAP-Jr Consultoria"> </div>
              </div>
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="box"> <a href="portfolio-masonery.html" class="btn btn-lg">Portolio</a> &nbsp; <a href="#" class="btn btn-lg btn-border">Entre em Contato</a> </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- services -->
  <section id="services" class="pt40 pb40">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>Consultoria para empresas</h1>
                  <h2 class="subTitle">Clean, unique, easy to use</h2>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="100">
                      <a href="#">
                          <div class="imgBorder"> <img class="{% static 'img-circle img-responsive' %}" src="{% static 'images/team/team-corporate-1.jpg' %}" alt="" /> </div>
                          <h2>Missao</h2>
                          <p> Elegant layouts that help you organize your content in the best way </p>
                      </a>
                  </article>
              </div>
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="200">
                      <a href="#">
                          <div class="imgBorder"> <img class="img-circle img-responsive" src="{% static 'images/team/team-corporate-2.jpg' %} " alt="" /> </div>
                          <h2>Visao </h2>
                          <p> Built with modern technologies like HTML5 and CSS3, SEO optimised </p>
                      </a>
                  </article>
              </div>
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                      <a href="#">
                          <div class="imgBorder"> <img class=" {% static 'img-circle img-responsive' %}" src="{% static 'images/team/team-corporate-3.jpg' %}" alt="" /> </div>
                          <h2>Valores</h2>
                          <p> Compatible with various desktop, tablet, and mobile devices. </p>
                      </a>
                  </article>
              </div>
          </div>
      </div>
  </section>
  <!-- / services -->
  <!-- works -->
  <section class="pt40 color1" data-nekoanim="fadeInUp" data-nekodelay="400">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>Nosso trabalho</h1>
                  <h2 class="subTitle">Nothing is work when you have fun</h2>
              </div>
          </div>
      </div>
      <div id="homePortfolio" class="imgHover clearfix portfolioMosaic mosaic5 mosaicMoreLink neko-hover-1">
          <article>
              <figure class="minimalBox"> <img alt="" src="(% static 'images/portfolio/vign6.jpg' %}" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Full width image</h3>
                          <p class="hidden-xs"> Lorem ipsum dolor sit amet </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture"></i></a> <a href="{% static 'images/portfolio/zoom6.jpg' %}" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign8.jpg' %}" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Youtube Video</h3>
                          <p class="hidden-xs"> Lorem ipsum dolor sit amet </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-video.html" title="link"><i class="icon-videocam"></i></a> <a href="https://www.youtube.com/watch?v=H4CtL4_By6I" class="image-iframe" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign2.jpg' %}" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Video Vimeo</h3>
                          <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-video.html" title="link"><i class="icon-videocam"></i></a> <a href="//player.vimeo.com/video/122258599" class="image-iframe" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign1.jpg' %}" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Gallery</h3>
                          <p class="hidden-xs"> Lorem ipsum dolor sit amet </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-camera"></i></a> <a href="{% static 'images/portfolio/zoom3.jpg' %}" data-gallery="{% static 'images/portfolio/zoom1.jpg,images/portfolio/zoom2.jpg' %}" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign5.jpg' %}" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Photo</h3>
                          <p class="hidden-xs"> Lorem ipsum dolor sit amet </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="{% static 'images/portfolio/zoom5.jpg' %}" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign7.jpg' %}" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Photo</h3>
                          <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="{% static 'images/portfolio/zoom7' %}.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign3' %}.jpg" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Photo</h3>
                          <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="{% static 'images/portfolio/zoom3' %}.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign4' %}.jpg" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Photo</h3>
                          <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="{% static 'images/portfolio/zoom4.jpg' %}" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
          <article>
              <figure class="minimalBox"> <img alt="" src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive">
                  <figcaption>
                      <div class="pinInfo">
                          <h3>Photo</h3>
                          <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>
                      <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="{% static 'images/portfolio/zoom9.jpg' %}" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                  </figcaption>
              </figure>
          </article>
      </div>
  </section>
  <!-- / works -->
  <!-- mix -->
  <section class="pt40 pb40">
      <div class="container">
          <div class="row">
              <div class="col-md-6" data-nekoanim="fadeIn" data-nekodelay="100">
                  <h2>Nossas Habilidades</h2>
                  <h4>Intermandated relationships</h4>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"> <span>50%</span> </div>
                  </div>
                  <h4>Goal-oriented clouds</h4>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span>80%</span> </div>
                  </div>
                  <h4>Corporate bullshit</h4>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span>100%</span> </div>
                  </div>
              </div>
              <div class="col-md-6" data-nekoanim="fadeIn" data-nekodelay="300">
                  <h2>Our services</h2>
                  <ul class="nav nav-tabs" id="myTab">
                      <li class="active"><a href="#homeTab" data-toggle="tab">Service 1</a></li>
                      <li><a href="#profile" data-toggle="tab">Service 2</a></li>
                      <li><a href="#messages" data-toggle="tab">Service 3</a></li>
                      <li><a href="#settings" data-toggle="tab">Service 4</a></li>
                  </ul>
                  <div class="tab-content">
                      <!-- tab 1 -->
                      <div class="tab-pane fade active in" id="homeTab">
                          <div class="row">
                              <div class="col-md-12">
                                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
                                  <p> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                              </div>
                          </div>
                      </div>
                      <!-- tab 2 -->
                      <div class="tab-pane fade" id="profile">
                          <div class="row">
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign2.jpg' %}" class="img-responsive imgBorder"> </div>
                              <div class="col-md-8">
                                  <h3>Cillum dolore eu fugiat nulla pariatur</h3>
                                  <p> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>
                      </div>
                      <!-- tab 3 -->
                      <div class="tab-pane fade" id="messages">
                          <div class="row">
                              <div class="col-md-6">
                                  <ul class="list-unstyled iconList">
                                      <li>Build with Bootstrap 3</li>
                                      <li>Mobile first design</li>
                                      <li>10 colors schemes</li>
                                  </ul>
                              </div>
                              <div class="col-md-6">
                                  <ul class="list-unstyled iconList">
                                      <li>Clean and well commented code</li>
                                      <li>Smart Neko CSS and JS components</li>
                                      <li>Fully responsive</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- tab 4 -->
                      <div class="tab-pane" id="settings">
                          <div class="row">
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign4.jpg' %}" class="img-responsive imgBorder" /> </div>
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign7.jpg' %}" class="img-responsive imgBorder" /> </div>
                              <div class="col-md-4"> <img alt="" src="{% static 'images/portfolio/vign8.jpg' %}" class="img-responsive imgBorder" /> </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- / mix -->
  <!-- parallax -->
  <section class="parallaxSection image-2" data-stellar-background-ratio="0.5">
      <div class="maskParent">
        <div class="bgMask"> </div>
        <div class="paralaxText" data-nekoanim="fadeInUp" data-nekodelay="400">
            <h2>
                Encontre aqui a melhoria que
                <br/>faltava para sua empresa.
            </h2>
        </div>
    </div>
  </section>
  <!-- / parallax -->
  <!-- contact -->
  <section class="mt40 mb40" data-nekoanim="fadeInUp" data-nekodelay="400">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>Entre em Contato</h1>
                  <h2 class="subTitle">Fale um pouco sobre o problema da sua empresa</h2>
              </div>
          </div>
          <div class="row pb40">
              <div class="col-sm-4">
                  <h4>Endereço:</h4>
                  <address>
                      <p>
                          <i class="icon-location"></i>&nbsp;Rua nº
                          <br> Sport Club, Madalena - BR
                          <br> <i class="icon-phone"></i>&nbsp;446.125.5892
                          <br> <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@theme.com">fcap@gmail.com</a>
                      </p>
                  </address>
              </div>
              <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form" novalidate="novalidate">
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)">
                      </div>
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address">
                      </div>
                      <div class="form-group">
                          <label for="phone">Phone</label>
                          <input name="phone" class="form-control required digits" type="tel" id="phone" size="30" value="" placeholder="Enter email phone" title="Please enter a valid phone number (at least 10 characters)"> </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="comments">Comments</label>
                              <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                          </div>
                      </div>
                      <div class="col-md-8 col-md-offset-4">
                          <div class="result"></div>
                          <button name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </section>
      <!-- / contact -->
  </main>
{% endblock content%}