{% extends 'base_fcap.html' %}
{% load static %}
{% block content %}

<main id="content">
  <header class="page-header bigHeader parallaxSection image-25" data-stellar-background-ratio="0.5" data-nekoanim="fadeIn" data-nekodelay="400">
      <div class="maskParent">
          <div class="bgMask"> </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center pb40">
                      <img src="{% static 'images/main-logo.png' %}" class="img-responsive" alt="FCAP-Jr Consultoria">
                   </div>
              </div>
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="box"> 
                        <a id="portfolio" href="#" class="btn btn-lg">Portfólio</a> &nbsp; 
                        <a id="contatolink" href="#" class="btn btn-lg btn-border">Entre em Contato</a> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- quem somos -->
  <section class="pt40 pb40" style="position:relative; background-color:white">

      <div class="container">
          <div class="row">
              <div id="quemSomos" class="col-md-12 text-center mb40">
                  <h1>Quem somos?</h1>
                  <h3 class="subTitle" style="text-align: justify;">{{ view.description.text|linebreaks }}</h3>
              </div>
          </div>
      </div>

      <div class="container">
          <div class="row mb40">
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="100">
                      <a href="#">
                        <div class="imgBorder"> 
                          <img class="img-circle img-responsive" src="{{ view.mission.image.url }}" alt="" /> 
                        </div>
                        <h2>{{ view.mission.title }}</h2>
                        <p> {{ view.mission.description }}</p>
                      </a>
                  </article>
              </div>
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="200">
                      <a href="#">
                        <div class="imgBorder">
                          <img class="img-circle img-responsive" src="{{ view.vision.image.url }}" alt="" />
                        </div>
                        <h2>{{ view.vision.title }}</h2>
                        <p> {{ view.vision.description }}</p>
                      </a>
                  </article>
              </div>
              <div class="col-md-4 col-sm-12">
                  <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                      <a href="#">
                        <div class="imgBorder"> 
                          <img class="img-circle img-responsive" src="{{ view.values.image.url }}" alt="" /> 
                        </div>
                        <h2>{{ view.values.title }}</h2>
                        {% for value in view.values.valuesDescription.all %}
                          <p> {{ value.description }}</p>
                        {% endfor %}
                      </a>
                  </article>
              </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h3>Texto das premiações</h3>
              </div>
          </div>
      </div>
    
      <div class="container mb40">
      
        <div class="row center-block">
          <section>
            <ul id="da-thumbs" class="da-thumbs">
              
                <li>
                  <a href="http://dribbble.com/shots/505046-Menu">
                    <img src="{% static 'portifolio/images/1.jpg' %}" />
                    <div><span>Premio foda 1</span></div>
                  </a>
                </li>

                <li>
                  <a href="http://dribbble.com/shots/504336-TN-Aquarium">
                    <img src=" {% static 'portifolio/images/2.jpg' %}" />
                    <div><span>Premio foda 2</span></div>
                  </a>
                </li>

                <li>
                  <a href="http://dribbble.com/shots/504197-Mr-Crabs">
                    <img src="{% static 'portifolio/images/3.jpg' %}" />
                    <div><span>Premio foda 3</span></div>
                  </a>
                </li>

            </ul>
          </section>
        </div>

      </div>  

      <br />
      
      <div class="container">
          <div class="row">
              <div class="row">
                  <div id="quemSomos" class="col-md-12 text-center mb40">
                      <h1>O MEJ</h1>
                  </div>
              </div>

              <div class="col-md-12 text-center mb40">
                  <h2 class="mb40">O que é uma empresa júnior?</h2>
                  <h3 class="subtitle" style="text-align: justify;">Uma associação civil sem fins lucrativos gerida por alunos de graduação de uma instituição de ensino superior. O objetivo primeiro das empresas juniores é promover a melhor experiência de mercado aos alunos graduandos na instituição à qual ela é vinculada. Por esse objetivo entende-se fomentar o crescimento pessoal e profissional do aluno membro, por meio do oferecimento de serviços de qualidade e a baixo custo ao mercado.</h3>
              </div>

              <div class="col-md-12 text-center mb40">
                  <h2 class="mb40">Origem do MEJ</h2>
                  <h3 class="subtitle" style="text-align: justify;">O movimento Empresa Júnior surgiu na França em 1967, num período pós-guerra, em que a população estava desacreditada e o país vivia um período de recessão. Sendo assim, a França necessitava de meios para lançar, no mercado, mão de obra qualificada e com experiência, que pudesse combater a recessão e promover a criação de novas empresas. Uma das saídas encontradas pelo governo foi a implantação de Empresas Juniores nas Universidades, visando promover aos estudantes a união entre a teoria e a prática, tornando-os profissionais com experiência e perspectiva de mercado.
                  </h3>
              </div>

              <div class="col-md-12 text-center mb40">
                  <h2 class="mb40">Por que ser um empresário júnior?</h2>
                  <h3 class="subtitle" style="text-align: justify;">Ao entrar em uma Empresa Júnior, o aluno busca o aperfeiçoamento para ser um profissional mais completo e capacitado no futuro. Na empresa júnior, quem participa de algum projeto, aplica na prática o conhecimento obtido nas salas de aula. Até aí, nada de muito diferenciado de outros programas e grupos oferecidos aos alunos. Mas então, onde está o diferencial? É na empresa júnior que se aprende desde o atendimento ao público até fazer a contabilidade. Vem do trabalho em equipe, em que aprendemos a dividir as tarefas, de modo a agilizar os processos e otimizá-los. Além disso, aprendemos a respeitar a individualidade de cada um, sendo que a identidade do grupo como um todo é muito importante. O grande diferencial de um empresário júnior é o fato dele desenvolver características como: iniciativa, responsabilidade, autoconfiança, ética e, acima de tudo, saber ser profissional.
                  </h3>
              </div>

              <div class="col-md-12 text-center mb40">
                  <h2 class="mb40">FEJEPE</h2>
                  <h3 class="subtitle" style="text-align: justify;">A Federação das Empresas Juniores do Estado de Pernambuco (FEJEPE) é a entidade que representa as empresas juniores junto às universidades, empresas e entidades do Estado. Tem como objetivo facilitar o intercâmbio de experiências e, principalmente, auxiliar na qualificação e desenvolvimento das empresas juniores que fazem parte da federação. Além disso, a federação exerce papel de regulamentar o Movimento Empresa Júnior no Estado.</h3>
              </div>

              <div class="col-md-12 text-center mb40">
                  <h2 class="mb40">Brasil Júnior</h2>
                  <h3 class="subtitle" style="text-align: justify;">A Brasil Júnior - Confederação Brasileira de Empresas Juniores - tem como finalidades representar as empresas juniores em nível nacional e desenvolver o Movimento Empresa Júnior como agente de educação empresarial e gerador de novos negócios.
                  </h3>
              </div>
          </div>
      </div>

  </section>
  <!-- / quem somos -->

      <section id="equipeSection" class="parallaxSection image-1" data-stellar-background-ratio="0.5">
        <div class="maskParent">
          <div class="bgMask"> </div>
            <div class="container">
              
              <div class="row">
                <div class="paralaxText mb40" data-nekoanim="fadeInUp" data-nekodelay="400" style="margin-top: 450px; padding: 0;">
                    <h1 id="title">A empresa</h1>
                    <h3 id="description">Descrição gigante falando como a empresa é grande e forte, ressaltando como são unidos, unidos por uma paixão, que é dar consultoria e por isso que são tão reconhecidos. Agora o texto fala um pouco do começo tenebroso da FCAP onde tinham apenas 10 membros. Agora como não tenho mais ideia pra enrolar aqui, vou só dizer que ao redor do buraco tudo é beira! valeu falou</h3>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12 text-center mb40">
                  <div class="box"> 
                    <a id="area1" class="btn btn-lg ">Área 1</a> &nbsp; 
                    <a id="area2" class="btn btn-lg ">Área 2</a> &nbsp; 
                    <a id="area3" class="btn btn-lg ">Área 3</a> &nbsp; 
                    <a id="area4" class="btn btn-lg ">Área 4</a> &nbsp; 
                    <a id="area5" class="btn btn-lg ">Área 5</a> 
                  </div>
                </div>
              </div>

            </div>
        </div>
      </section>
  <!-- / equipe -->

  <!-- eventos -->
  <section id="eventos" class="pt40 color1" data-nekoanim="fadeInUp" data-nekodelay="400">
      <div class="container" id="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>PORTFÓLIO</h1>
                  <h2 class="subTitle">Aqui ficam os eventos ou serviços em destaque!</h2>
              </div>
          </div>
          <div class="row">
                <div class="col-md-12 text-center mb40">
                  <div class="box">
                    <a class="btn btn-lg btn-border" id="todos" onclick="filtrar(this.id);">Todos</a> &nbsp; 
                    <a class="btn btn-lg btn-border" id="iventos" onclick="filtrar(this.id);">Eventos</a> &nbsp; 
                    <a class="btn btn-lg btn-border" id="serbico" onclick="filtrar(this.id);">Serviços</a> &nbsp; 
                    <a class="btn btn-lg btn-border" id="acon" onclick="filtrar(this.id);">Ações</a> &nbsp;  
                  </div>
                </div>
          </div>
        <div class="row center-block">
          <section>
            <ul id="da-thumbs" class="da-thumbs">
              <li class="iventos">
                <a href="http://dribbble.com/shots/505046-Menu">
                  <img src="{% static 'portifolio/images/1.jpg' %}" />
                  <div><span>Eita... Evento famoso</span></div>
                </a>
              </li>
              <li class="serbico">
                <a href="http://dribbble.com/shots/504336-TN-Aquarium">
                  <img src=" {% static 'portifolio/images/2.jpg' %}" />
                  <div><span>Caralho... que serviço eh esse</span></div>
                </a>
              </li>
              <li class="acon">
                <a href="http://dribbble.com/shots/504197-Mr-Crabs">
                  <img src="{% static 'portifolio/images/3.jpg' %}" />
                  <div><span>Ação de fazer o site da Fcap</span></div>
                </a>
              </li>
              <li class="iventos">
                <a href="http://dribbble.com/shots/503731-Gallery-of-Mo-2-Mo-logo">
                  <img src="{% static 'portifolio/images/4.jpg' %}" />
                  <div><span>Evento osso</span></div>
                </a>
              </li>
              <li class="acon">  
                <a href="http://dribbble.com/shots/503058-Ice-Cream-nom-nom">
                  <img src="{% static 'portifolio/images/5.jpg' %}" />
                  <div><span>Accção de não atrasar o projeto</span></div>
                </a>
              </li>
              <li class="serbico">
                <a href="http://dribbble.com/shots/502927-My-Muse">
                  <img src="{% static 'portifolio/images/6.jpg' %}" />
                  <div><span>Serviço de ronda ... fudeu</span></div>
                </a>
              </li>
              <li class="acon">
                <a href="http://dribbble.com/shots/502538-Natalie-Justin-Cleaning">
                  <img src="{% static 'portifolio/images/7.jpg' %}" />
                  <div><span>AÇÃO</span></div>
                </a>
              </li>
              <li class="serbico">
                <a href="http://dribbble.com/shots/502523-App-Preview">
                  <img src="{% static 'portifolio/images/8.jpg' %}" />
                  <div><span>Evento</span></div>
                </a>
              </li>
              <li class="acon">
                <a href="http://dribbble.com/shots/501695-Cornwall-Map">
                  <img src="{% static 'portifolio/images/9.jpg' %}" />
                  <div><span>Serviço</span></div>
                </a>
              </li>
              <li class="iventos">
                <a href="http://dribbble.com/shots/500861-final-AD-logo">
                  <img src="{% static 'portifolio/images/10.jpg' %}" />
                  <div><span>final AD logo by Annette Diana</span></div>
                </a>
              </li>
              <li class="serbico">
                <a href="http://dribbble.com/shots/500369-Land-Those-Planes">
                  <img src="{% static 'portifolio/images/11.jpg' %}" />
                  <div><span>Land Those Planes by Lee Ann Marcel</span></div>
                </a>
              </li>
              <li class="acon">
                <a href="http://dribbble.com/shots/497795-Seahorse">
                  <img src="{% static 'portifolio/images/12.jpg' %}" />
                  <div><span>Seahorse by Trevor Basset</span></div>
                </a>
              </li>
            </ul>
          </section>
        </div>
      </div>
  </section>
  <!-- / eventos -->
  <!-- serviços -->
  <section id="servi" class="pt40 pb40">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>QUEM ESTÁ CONOSCO</h1>
                  <h2 class="subTitle">Aqui ficam os nossos parceiros</h2>
              </div>
          </div>

          <div id="slide-parceiros" class="slider2">
            <div class="slide-item slide col-md-6">
              <img src="{% static 'images/portfolio/vign2.jpg' %}" class="img-responsive img-parceiro">
              <div class="texto">
                <p>
                  Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
                </p>
              </div>
            </div>

            <div class="slide-item slide col-md-6">
              <img src="{% static 'images/portfolio/vign1.jpg' %}" class="img-responsive img-parceiro">
              <div class="texto">
                <p>
                  Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
                </p>
              </div>
            </div>
            
            <div class="slide-item slide col-md-6">
              <img src="{% static 'images/portfolio/vign3.jpg' %}" class="img-responsive img-parceiro">
              <div class="texto">
                <p>
                  Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
                </p>
              </div>
            </div>

            <div class="slide-item slide col-md-6">
              <img src="{% static 'images/portfolio/vign4.jpg' %}" class="img-responsive img-parceiro">
              <div class="texto">
                <p>
                  Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
                </p>
              </div>
            </div>

            <div class="slide-item slide col-md-6">
              <img src="{% static 'images/portfolio/vign5.jpg' %}" class="img-responsive img-parceiro">
              <div class="texto">
                <p>
                  Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
                </p>
              </div>
            </div>

            <div class="slide-item slide col-md-6">
              <img src="{% static 'images/portfolio/vign6.jpg' %}" class="img-responsive img-parceiro">
              <div class="texto">
                <p>
                  Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
                </p>
              </div>
            </div>

          </div>

          <div id="outros-parceiros">
            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>

            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>

            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>

            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>

            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>

            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>

            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>

            <div class="item-outros-parceiros">
              <img src="{% static 'images/portfolio/vign9.jpg' %}" class="img-responsive img-outros">
            </div>
          </div>
              
      </div>
  </section>
  <!-- / serviços -->
  <!-- parallax -->
  <section class="parallaxSection image-2" data-stellar-background-ratio="0.5">
      <div class="maskParent">
        <div class="bgMask"> </div>
        <div class="paralaxText" data-nekoanim="fadeInUp" data-nekodelay="400">
            <h2>
                Encontre aqui a melhoria que
                <br/>faltava para sua empresa.
            </h2>
        </div>
    </div>
  </section>
  <!-- / parallax -->

  <section id="donation" class="mt40 mb40" data-nekoanim="fadeInUp" data-nekodelay="400">
    <div class="container">
      
      <div class="col-md-12 text-center mb40">
        <h1>Fundo de doação</h1>
      </div>

      <div class="row">
        
        <div id="slide-parceiros">
          <div class="slide-item slide col-md-6 col-md-offset-3">
            <img src="{% static 'images/portfolio/vign2.jpg' %}" class="img-responsive img-parceiro">
            <div class="texto">
              <p>
                Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- contact -->
  <section id="contato" class="mt40 mb40" data-nekoanim="fadeInUp" data-nekodelay="400">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center mb40">
                  <h1>Entre em Contato</h1>
                  <h2 class="subTitle">Fale um pouco sobre o problema da sua empresa</h2>
              </div>
          </div>
          <div class="row pb40">
              <div class="col-sm-4">
                  <div style="margin-bottom: 12%">
                    <label style="margin-bottom: 23px;">Endereço:</label>
                    <address>
                        <p>
                            <i class="icon-location"></i>
                            &nbsp;
                            <a href="https://maps.google.com.br/maps?f=q&source=s_q&hl=pt-BR&geocode=&q=Av.+Sport+Club+do+Recife,+252+-+Bloco+A+-+1%C2%BA+Andar,+Sala+A2.01+-+Madalena,+Recife-PE&aq=&sll=-8.043604,-34.939349&sspn=0.331106,0.672226&ie=UTF8&hq=Av.+Sport+Club+do+Recife,+252+-+Bloco+A+-+1%C2%BA+Andar,+Sala+A2.01+-+Madalena,+Recife-PE&t=m&ll=-8.062969,-34.903007&spn=0.022095,0.032015&output=embed" style="text-align: justify;">
                              Av Sport Club do Recife, 252, Madalena. <br />
                              Bloco A - 1º Andar Sl. A2.01
                            </a>
                            <br>
                            <br> <i class="icon-phone"></i>&nbsp;(81) 3181-8662 | (81) 8833-3288
                            <br>
                            <br> <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:contato@fcapjr.com.br">contato@fcapjr.com.br</a>
                        </p>
                    </address>
                  </div>

                  <div>
                    <label style="margin-bottom: 23px;">Faça seu diagnóstico</label>
                    <button class="col-xs-12 btn btn-lg" style="margin-bottom: 23px">Diagnóstico</button>
                  </div>
              </div>
              <form method="POST" action="send-email/" id="contactfrm" role="form" novalidate="novalidate">
                {% csrf_token %}
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="name">Nome</label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Digite seu nome" title="Please enter your name (at least 2 characters)">
                      </div>
                      
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email" title="Please enter a valid email address">
                      </div>

                      <div class="form-group">
                         <label for="phone">Motivo do contato</label>
                         <select class="form-control" name="motivo">
                           <option value="">Selecione</option>
                           <option value="bench">Benchmarking</option>
                           <option value="outros">Outros</option>
                         </select>
                      </div>

                  </div>
                  
                  <div class="col-sm-4">
                      
                      <div class="form-group">
                          <label for="comments">Mensagem</label>
                          <textarea name="mensagem" class="form-control" id="comments" cols="3" rows="5" placeholder="Escreva a sua mensagem…" title="Please enter your message (at least 10 characters)" style="height: 182px; margin-bottom: 23px;"></textarea>
                      </div>
                      
                      <div class="result"></div>
                      <button name="submit" type="submit" class="col-xs-12 btn btn-lg" id="submit"> Enviar</button>
                  </div>

              </form>

              </div>
              <div class="col-sm-4 col-sm-offset-4">
                    <ul class="socialNetwork" style="margin-left: 30%;">
                      <li>
                        <a href="#" class="tips" title="follow me on Facebook">
                          <i class="icon-facebook-1 iconRounded"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#" class="tips" title="follow me on Twitter">
                          <i class="icon-twitter-bird iconRounded"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#" class="tips" title="follow me on Google+">
                          <i class="icon-gplus-1 iconRounded"></i>
                        </a>
                      </li>
                    </ul>
              </div>

          </div>
      </section>
      <!-- / contact -->
  </main>
{% endblock content %}
