{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="utf-8">
<title>FCAP-Jr Consultoria</title>
<meta name="description" content="FCAP-Jr Consultoria">
<meta name="author" content="Little NEKO">

{% block styles %}{% endblock styles %}
{% block scripts %}
  <script> </script>
{% endblock scripts %}
</head>
<body id="page"class="activateAppearAnimation headerTransparent" style="background-color:white;">
       
       <div id="gallery">
        <div class="bigImages">
            <ul>
                <li><a href="http://activeden.net/user/sike/"><img src="{% static 'slide-home/images/slide1.jpg' %}" alt="the image" /></a></li>
                <li><img src="{% static 'slide-home/images/slide2.jpg' %}" alt="the image" /></li>
                <li><a href="http://codecanyon.net/user/sike" target="_blank"><img src="{% static 'slide-home/images/slide3.jpg' %}" alt="the image" /></a></li>                                      
                <li><img src="{% static 'slide-home/images/slide4.jpg'%}" alt="the image" /></li>       
                <li><a href="http://activeden.net/user/sike/"><img src="{% static 'slide-home/images/slide5.jpg' %}" alt="the image" /></a></li>
                <li><img src="{% static 'slide-home/images/slide6.jpg' %}" alt="the image" /></li>
                <li><a href="http://activeden.net/user/sike/"><img src="{% static 'slide-home/images/slide7.jpg' %}" alt="the image" /></a></li>
                <li><img src="{% static 'slide-home/images/slide8.jpg' %}" alt="the image" /></li>
                <li><a href="http://codecanyon.net/user/sike" target="_blank"><img src="{% static 'slide-home/images/slide9.jpg' %}" alt="the image" /></a></li>                                      
                <li><img src="{% static 'slide-home/images/slide10.jpg' %}" alt="the image" /></li>                                   
            </ul>
        </div>
                        
        <div class="thumbnails">            
            <ul>   
                <li><img src="{% static 'slide-home/images/slide1.jpg '%}" alt="the thumbnail" /></li>
                <li><img src="{% static 'slide-home/images/slide2.jpg' %}" alt="the thumbnail" /></li>
                <li><img src="{% static 'slide-home/images/slide3.jpg' %}" alt="the thumbnail" /></li>                    
                <li><img src="{% static 'slide-home/images/slide4.jpg' %}" alt="the thumbnail" /></li>                                        
                <li><img src="{% static 'slide-home/images/slide5.jpg' %}" alt="the thumbnail" /></li>
                <li><img src="{% static 'slide-home/images/slide6.jpg' %}" alt="the thumbnail" /></li>

                <li><img src="{% static 'slide-home/images/slide7.jpg' %}" alt="the thumbnail" /></li>
                <li><img src="{% static 'slide-home/images/slide8.jpg' %}" alt="the thumbnail" /></li>
                <li><img src="{% static 'slide-home/images/slide9.jpg' %}" alt="the thumbnail" /></li>                    
                <li><img src="{% static 'slide-home/images/slide10.jpg' %}" alt="the thumbnail" /></li>           
            </ul>                                                               
        </div>                                    
    </div> 
    

<div id="globalWrapper">
{%block menu %}{% endblock menu %}
{% block content %}
{% endblock content %}
{% block footer %}
{% endblock footer %}
  <!-- / content -->
  <!-- footer -->
      <!-- / footer -->
    </div>
    <!-- global wrapper -->
<!-- End Document
    ================================================== -->
    <script type="text/javascript" src="{% static 'js-plugin/respond/respond.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js-plugin/jquery/jquery-1.10.2.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js' %}"></script>
    <!-- third party plugins  -->
    <!--<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js-plugin/easing/jquery.easing.1.3.js' %}"></script>
    <!-- carousel -->
    <script type="text/javascript" src="{% static 'js-plugin/owl.carousel/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- pop up -->
    <script type="text/javascript" src="{% static 'js-plugin/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- isotope -->
    <script type="text/javascript" src="{% static 'js-plugin/isotope/jquery.isotope.min.js' %}"></script>
    <!-- form -->
    <script type="text/javascript" src="{% static 'js-plugin/neko-contact-ajax-plugin/js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js' %}"></script>
    <!-- parallax -->
    <!--<script type="text/javascript" src="{% static 'js-plugin/parallax/js/jquery.stellar.min.js' %}"></script>-->
    <!-- appear -->
    <!--<script type="text/javascript" src="{% static 'js-plugin/appear/jquery.appear.js' %}"></script>-->
    <!-- toucheeffect -->
    <script type="text/javascript" src="{% static 'js-plugin/toucheeffect/toucheffects.js' %}"></script>
    <!-- Custom  -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <!-- Scrool -->
    <script type="text/javascript"  src="{% static 'js/scroll.js' %}" /></script>
    <!-- <script type="text/javascript"  src="{% static 'js/jquery.js' %}" /></script> -->
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
        <script type="text/javascript" src="{% static 'portifolio/js/jquery.hoverdir.js' %}"></script>    
        <script type="text/javascript">
            $(function() {
            
                $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

            });
        </script>

    <!-- Slide home -->
    <!-- <script type="text/javascript"  src="{% static 'slide-home/js/options.js' %}" /></script> -->
    
    <!-- End -->


</body>

</html>
