{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <!-- Slide -->
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style2.css" />
    <script type="text/javascript" src="static/js/modernizr.custom.86080.js"></script>

	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- web font  -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
    <!-- Pop up-->
    <script type="text/javascript"  src="{% static 'js-plugin/magnific-popup/magnific-popup.css' %}" ></script>
    <!-- Owl carousel-->
    <script type="textjavascript"  src="{% static 'js-plugin/owl.carousel/owl-carousel/owl.carousel.css' %}"></script>
    <script type="text/javascript"  src="{% static 'js-plugin/owl.carousel/owl-carousel/owl.transitions.css' %}"></script>
    <script type="text/javascript"  src="{% static 'js-plugin/owl.carousel/owl-carousel/owl.theme.css' %}"></script>
    <script type="text/javascript"  src="{% static 'js/custom.js' %}"></script>
    <!-- nekoAnim-->
    <script type="text/javascript"  src="{% static 'js-plugin/appear/nekoAnim.css' %}" /></script>
    <script type="text/javascript"  src="{% static 'js-plugin/jquery/jquery-1.10.2.min.js' %}" /></script>

    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="{% static 'font-icons/custom-icons/css/custom-icons.css' %}">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link type="text/css" id="colors" rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Slide -->
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'css/slide/style.css' %}"> -->


    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
<!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}"> </head>

{% endblock styles %}
{% block scripts %}
    <script src=" {% static 'js/modernizr-2.6.1.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'js/custom.js' %}"></script>
{% endblock scripts %}
{% block menu %} {% include 'menu.html' %}{% endblock menu %}
{% block extra_scripts %}{% endblock extra_scripts %}
{% block content %}
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}