{%load static%}
<!-- <footer id="footerWrapper" class="footer2"> -->
      <div id="footerRights">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'images/logo-cinza.png' %}" class="img-responsive" alt="FCAP-Jr" style="width:50%">
                  </div>
                  <div class="col-md-4">
                    <a href="http://fcapjr.com.br/" target="_blank"><p style="font-size: 18px; color: white;">www.fcapjr.com.br</p></a>
                    <p>© 2015 FCAP Jr Consultoria- Todos os direitos reservados</p>
                  </div>
                  <div class="col-md-4">
                    <p style="text-align: right">Desenvolvido por</p>
                    <a href="http://citi.org.br/" target="_blank"><img src="{% static 'images/logo-citi.png' %}" alt="CITi" style="width:20%; margin-left: 65%"></a>
                  </div>
              </div>
          </div>
      </div>
<!-- </footer> -->