{%load static%}
<header class="navbar-fixed-top">
  
  <!-- / pre header -->
  <!-- header -->
  <div id="mainHeader" role="banner" style="background-color: #fdfdfd;">
      <div class="container">
          <nav class="navbar navbar-default" role="navigation">
                  <!-- responsive navigation -->
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenu"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <!-- Logo -->
                  <a class="navbar-brand" style="width: 15%" href="{% url 'fcap_app:home' %}"><img src="{% static 'images/main-logo.png' %}" style=" width: 100%" alt="ALABAMA website template"  style="width:15%"/></a>
              <div class="collapse navbar-collapse" id="mainMenu">
                  <!-- Main navigation -->
                  <ul class="nav navbar-nav pull-right">
                      <li id="homes" class="primary"> <a href="#" class="firstLevel active">Home</a></li>
                      <li id="quensomos"><a href="#">Quem somos</a></li>
                       <li  id="equipe"><a href="#">Equipe</a></li>
                      <li id="events" class="primary"> <a href="#" class="firstLevel ">Portfólio</a>
                      </li>
                      <li id="servicess" class="primary"> <a href="#" class="firstLevel ">Parceiros</a>
                      </li>
                      <li id="contat" class="last"><a href="#" class="firstLevel last ">Contato</a></li>
                  </ul>
                  <!-- End main navigation -->
              </div>
          </nav>
      </div>
  </div>
</header>